<div class="container mx-auto h-screen">
  <div
    class="loginpage flex justify-center items-center h-full grid grid-cols-2"
  >
    <div></div>
    <div class="flex justify-center">
      <div
        class="grid grid-cols-1 bg-gray-300 h-56 w-80 rounded-lg text-center shadow-lg p-2"
      >
        <p>Login</p>
        <div class="grid">
          <label for="email">Email:</label>
          <input type="text" id="email" />
        </div>
        <div class="grid">
          <label for="senha">Senha:</label>
          <input type="text" id="senha" />
        </div>
        <p>Não é cadastrado? <a href="">Clique aqui</a> e cadastre.</p>
      </div>
    </div>
  </div>
</div>
